@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hero-background {
        background-image: url('https://i.pinimg.com/736x/d8/64/52/d86452be442a1b9aae44e7c4e1451dbc.jpg'); /* Reemplaza con la URL de tu imagen alusiva */
        background-size: cover;
        background-position: center;
        height: 400px; /* Aumenta la altura para un impacto visual mayor */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 0 1rem; /* Añade un poco de espacio alrededor del texto */
    }

        .hero-background h1 {
            font-size: 3rem;
            font-weight: bold;
        }

        .hero-background p {
            font-size: 1.25rem;
        }

    .content {
        padding: 2rem;
        text-align: center;
    }

        .content h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .content p {
            font-size: 1.125rem;
        }
</style>

<body>

    <div class="hero-background">
        <div>
            <h1>Bienvenido al Sistema de Terapias</h1>
            <p>Tu camino hacia el bienestar comienza aquí. Explora nuestras opciones y mejora tu calidad de vida con nuestros servicios de terapia.</p>
        </div>
    </div>

    <div class="content">
        <h2>¿Qué es el Sistema de Terapias?</h2>
        <p>Ofrecemos un enfoque integral para el cuidado personal, incluyendo terapia física, mental y emocional. Nuestro objetivo es ayudarte a alcanzar una vida equilibrada y saludable.</p>
    </div>

</body>

